ingested/by-integration/webhook/api_monitor_auto_restart.1351b71411.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"API Monitor Auto Restart","nodes":[{"id":"5a361eec-4cf1-4626-8301-f1d61886385b","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: API Monitor Auto Restart","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"4a4d8e8e-ef65-4993-be9b-e5a9667a9ec3","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"api-monitor-auto-restart"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"a7c202eb-a14d-4c3a-9901-847fb858c828","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"2dc406f3-4a67-4021-80a2-3926b5b55087","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"8781c9ef-fcc4-41cb-9fda-3ece7aaab8c1","name":"Weaviate Insert","parameters":{"indexName":"api_monitor_auto_restart","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"368141fb-c508-4ef1-a99b-2848db6feb09","name":"Weaviate Query","parameters":{"indexName":"api_monitor_auto_restart"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"31889dd8-f57a-4cc2-8ef8-e8666ca9f67e","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"8c45174b-5b62-4222-a33f-ef9085097ffc","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"ad6b30cb-5adf-4c0f-96fa-89a830472d1d","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"c3bb6442-4dd3-4d62-bbe9-a47a0ff7baff","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for API Monitor Auto Restart"},"promptType":"define","text":"Process the following data for task 'API Monitor Auto Restart':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"e9a91afa-9d08-42a7-a362-2f5eed4db722","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"API Monitor Auto Restart","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"480913f8-b511-4f82-b413-b19bf75ed0d2","name":"Slack Alert","parameters":{"channel":"#alerts","text":"API Monitor Auto Restart error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}