ingested/by-integration/webhook/auto-post_blogs_to_linkedin_and_twitter.e65317452d.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Auto-post Blogs to LinkedIn and Twitter","nodes":[{"id":"f6b52b5b-3751-4c22-a6c1-3e5936fb322a","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for Auto-post Blogs to LinkedIn and Twitter","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"f5a15148-9af1-409b-a4ef-ad2b0e2e2f06","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"auto-post-blogs-to-linkedin-and-twitter"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"121f362d-ae3a-45c8-894d-12e606dab808","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"6a35e11a-dd03-4d95-bcc3-f4f8c85088d5","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"401ef38d-6acd-41cd-8ce5-3a50b8545789","name":"Supabase Insert","parameters":{"indexName":"auto-post_blogs_to_linkedin_and_twitter","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"04497ee3-b9d0-4296-8d11-c26ea24c5a19","name":"Supabase Query","parameters":{"indexName":"auto-post_blogs_to_linkedin_and_twitter"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"cd76d86e-4c30-43bb-a0e2-baaf728f7871","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"9f39a9d1-b9d1-42d9-b199-8256c98ba424","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"8262b5be-0943-4a57-81d3-438502e72dca","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"ef4551cd-6b4e-41ae-8688-f3119f289c8f","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Auto-post Blogs to LinkedIn and Twitter"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"4ab2b12c-2228-4309-b688-e64bd895ffce","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"Auto-post Blogs to LinkedIn and Twitter","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"915205bd-7106-4a5d-9962-82a3d5292349","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Auto-post Blogs to LinkedIn and Twitter error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}