ingested/by-integration/webhook/breaking_news_summarizer.cb45e73075.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Breaking News Summarizer","nodes":[{"id":"1c60dfda-ff6c-431b-8200-9b6c34adc1d9","name":"Sticky","parameters":{"content":"## Breaking News Summarizer","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"ae2530ec-60d3-41b3-a0a2-7a18071f6330","name":"Webhook","parameters":{"httpMethod":"POST","path":"breaking_news_summarizer"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"89dee8a0-3133-4c1b-a4b9-aa2fc194949b","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"29f16a9a-1f38-4713-ba9c-215f8259cd88","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFace","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"45eefa2e-cd65-44a2-8597-1090e59b131e","name":"Insert","parameters":{"indexName":"breaking_news_summarizer","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"6e5733ea-2827-4e32-a683-c61ef69fea40","name":"Query","parameters":{"indexName":"breaking_news_summarizer"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"34c6f9f4-68a8-4d58-a5f3-bd8fc98456f2","name":"Tool","parameters":{"name":"Weaviate"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"a2f1be61-44ce-4729-bcae-1e436fec6495","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"1be3574f-87ea-43ad-8a1a-742bbabbf2fc","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"ab963c4f-2d8b-4f66-a7e3-3f9d4ec07612","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"728c2329-b3fc-4864-a4d5-e46a04502dcd","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}