ingested/by-integration/webhook/commodity_price_tracker.796af697ff.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Commodity Price Tracker","nodes":[{"id":"240bb73f-5a0c-4672-a36d-98daf070734b","name":"Sticky","parameters":{"content":"## Commodity Price Tracker","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"c23087f3-5dcd-45fe-a5f7-51cc99d3e7e1","name":"Webhook","parameters":{"httpMethod":"POST","path":"commodity_price_tracker"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"013d0864-5f21-4cb8-8867-0c0e4445483a","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"db0e2610-9e2f-4435-b166-81d3532dd10e","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"2b3496e2-4feb-4dbc-8a5f-b1ececb2f844","name":"Insert","parameters":{"indexName":"commodity_price_tracker","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"edbac296-9e6e-4152-92d8-a1f92364a08a","name":"Query","parameters":{"indexName":"commodity_price_tracker"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"id":"1a0a6979-6af4-4e37-be9e-4716e7f172b5","name":"Tool","parameters":{"name":"Redis"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"2847718a-be62-48a3-b9da-3893bba372f0","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"782053c8-0213-4494-aa1b-2a9effa10f1c","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"cc4cac32-3d40-4e4a-84ef-fe3a19777d08","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"c5d7ca13-2e69-47c4-9fbd-590e15be38b8","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}