ingested/by-integration/webhook/connected_car_alert.d7bccc1327.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Connected Car Alert","nodes":[{"id":"e508bf37-1d29-46fb-9d2b-09fc09903dec","name":"Sticky","parameters":{"content":"## Connected Car Alert","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"5b5062a3-d8a9-41da-a687-2b830fbde108","name":"Webhook","parameters":{"httpMethod":"POST","path":"connected_car_alert"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"1e33aee3-41f1-4292-8498-658fea4f49f2","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"54f0918a-2f89-464b-9471-b54f1ef9a6c1","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"2aa86725-8272-4298-bd3c-33baaee4dd2e","name":"Insert","parameters":{"indexName":"connected_car_alert","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"1952da2b-e537-4846-bfda-c78a5a9481c9","name":"Query","parameters":{"indexName":"connected_car_alert"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"id":"52207087-2724-4839-8455-1c7ad2f9664d","name":"Tool","parameters":{"name":"Redis"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"65b228b1-b9f6-4c9a-a2de-8122bf06a511","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"64c10477-4721-4bf3-bbfd-d9ba4d459302","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"50bb6eb4-0753-40b9-9969-8c54311a32a6","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"a7973fd2-bd62-414a-99fd-76f54b95a67b","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}