ingested/by-integration/webhook/crm_patient_intake.490d74224a.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"CRM Patient Intake","nodes":[{"id":"86b9f13f-62f9-458f-ad1f-551c22acc97c","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: CRM Patient Intake","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"4b09900a-e4e7-4144-a460-cb44ceca072f","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"crm-patient-intake"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"c5dacca0-17d6-4413-8ec8-ad721be328d2","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"68a58074-378e-469d-9022-b3c83bf8ee6c","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"9720a931-4c26-45b9-a8c9-31d352d534d8","name":"Weaviate Insert","parameters":{"indexName":"crm_patient_intake","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"023dbcb5-e494-4c25-a83d-6c4e8f78888b","name":"Weaviate Query","parameters":{"indexName":"crm_patient_intake"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"c988cbab-d0da-4d21-a19f-9d499df5376b","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"eeec0d68-4233-4083-aedf-f9f81ead580f","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"9ee23255-eb1c-457b-849b-b5e8b38d447b","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"7852e84c-7f0b-44dd-8843-4c3d74d4b8ce","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for CRM Patient Intake"},"promptType":"define","text":"Process the following data for task 'CRM Patient Intake':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"fdb770b5-451d-4b86-b968-6b3101545a94","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"CRM Patient Intake","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"c9724e0b-7606-43a4-9765-2a4dd1d01646","name":"Slack Alert","parameters":{"channel":"#alerts","text":"CRM Patient Intake error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}