ingested/by-integration/webhook/cron_success_slack.8c1809bd4f.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Cron Success Slack","nodes":[{"id":"b03d8e1e-d7b2-442c-9fae-ccf65c4125a7","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Cron Success Slack","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"3f1813a6-4c11-437c-a487-fd91b2c0988f","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"cron-success-slack"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"51415661-613f-4c39-9abf-6eb052df2251","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"5b064711-d117-44cd-83f4-789be1762c3a","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"0d3f05c1-1023-4aa1-897f-87de0ca47a39","name":"Weaviate Insert","parameters":{"indexName":"cron_success_slack","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"b8778660-dd26-4673-91b7-822e543607ef","name":"Weaviate Query","parameters":{"indexName":"cron_success_slack"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"6855ebd4-1b15-485f-90ab-a9755d50ba60","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"f57b718e-8d0c-4bd4-810d-fbc53fb37133","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"f0e56d0c-773e-4a79-8299-082b5f6ab424","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"20ac9f41-be41-4862-82ce-afbfe3abda1d","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Cron Success Slack"},"promptType":"define","text":"Process the following data for task 'Cron Success Slack':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"10e0dee3-1d1e-4ad0-b1cf-89699aefb1fd","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Cron Success Slack","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"b7bfc454-6aaf-46c9-b35c-e88974babc1b","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Cron Success Slack error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}