ingested/by-integration/webhook/currency_rate_monitor.4c2f41d620.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Currency Rate Monitor","nodes":[{"id":"e6175cfd-e193-423d-9bbd-fc7119684f7a","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for Currency Rate Monitor","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"80b80c82-20c3-4174-ad9c-611f3261b0e5","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"currency-rate-monitor"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"7fd033de-1f84-44c7-b067-c3d3e9b08b72","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"1fa4d8fe-1214-4fa9-8534-7c0f0d5d8531","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"42ee78dd-c790-4e3c-8732-4e2395b1a9b6","name":"Weaviate Insert","parameters":{"indexName":"currency_rate_monitor","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"0d13f988-4d82-440d-ac56-bb8e225d9be1","name":"Weaviate Query","parameters":{"indexName":"currency_rate_monitor"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"7c645977-36de-4c85-9615-b76a72dd9882","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"521025ae-08c9-48f9-b3ea-8eed7859c340","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"bf695dd1-f69c-4be6-a2d7-27951a948b1c","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"c83a7b48-e374-4d2f-832e-3929bab00308","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Currency Rate Monitor"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"931647ba-372d-46b7-810f-76ba4087c0b5","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"Currency Rate Monitor","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"59e59fd4-268f-4c56-a034-b1a32e5f4115","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Currency Rate Monitor error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}