ingested/by-integration/webhook/energy_consumption_anomaly_detector.a5ec92cbd3.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Energy Consumption Anomaly Detector","nodes":[{"id":"c18e4640-3b84-4bab-98bc-b70a65723764","name":"Sticky","parameters":{"content":"## Energy Consumption Anomaly Detector","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"a84f44ec-e5cc-4b7b-9dc4-c2bebc16b9f2","name":"Webhook","parameters":{"httpMethod":"POST","path":"energy_consumption_anomaly_detector"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"196995f4-370f-4e85-863b-56e9ef67e1e8","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"f345618c-ec83-448a-90e5-7166941a3f47","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFace","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"5236bb9d-9a5f-4f96-8512-860b5019bf90","name":"Insert","parameters":{"indexName":"energy_consumption_anomaly_detector","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"5b4e4dd7-4d72-4134-86ee-ed3309aca576","name":"Query","parameters":{"indexName":"energy_consumption_anomaly_detector"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"c84c0fd1-c002-48ef-b6ab-24aec0a29b06","name":"Tool","parameters":{"name":"Supabase"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"b9bf45c2-d96c-48ce-b18d-8abfd8cc0c86","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"b1bd3b76-00d8-418c-8d7c-e13bad3e0963","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"9616d716-66ef-4bc2-9274-8312cd5210bd","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"2ac39712-36a7-451e-98ed-682294bada65","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}