ingested/by-integration/webhook/mes_log_analyzer.71948db9fc.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"MES Log Analyzer","nodes":[{"id":"6a578e19-1308-4a5c-b6f6-6ebd3710b6e3","name":"Sticky","parameters":{"content":"## MES Log Analyzer","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"39d4b641-9f59-4642-832e-79022bf495c7","name":"Webhook","parameters":{"httpMethod":"POST","path":"mes_log_analyzer"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"e3946bf7-7e37-46ad-8866-b336d591139c","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"257bb0cf-c4c3-4ec5-a8fc-cc7af8cc82d8","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFace","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"191047e8-a373-4f4d-89f5-d4befa1e1488","name":"Insert","parameters":{"indexName":"mes_log_analyzer","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"e5aceb69-fdc8-4ecb-bb40-9595579f44d1","name":"Query","parameters":{"indexName":"mes_log_analyzer"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"69bf896b-cc84-4c27-ac84-53c42df7675c","name":"Tool","parameters":{"name":"Weaviate"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"2dfcbeaa-32cc-411f-9804-33dbdc2cc1ff","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"22d5fa52-e851-4158-8b68-0bc099c7b712","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"4b278a48-c97b-4720-8248-7e16a59e8a97","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"59f09444-e08f-4545-b83a-6e3113298e1c","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}