ingested/by-integration/webhook/patch_note_summarizer.bde15aa35a.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Patch Note Summarizer","nodes":[{"id":"c27cc49e-4006-42ec-a921-ab82af3e62c3","name":"Sticky","parameters":{"content":"## Patch Note Summarizer","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"cf75146f-eea9-4d9a-b35e-cfb8c9174f7a","name":"Webhook","parameters":{"httpMethod":"POST","path":"patch_note_summarizer"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"87336512-bbfe-45e5-a621-ce1abf7d8dec","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"308d899c-0dfa-4536-8521-71a5e9e0f41e","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"2d180980-fb6c-4f7a-b8a8-8c7119778073","name":"Insert","parameters":{"indexName":"patch_note_summarizer","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"13a5f3e5-f066-4e4e-a80f-f76980d6c31e","name":"Query","parameters":{"indexName":"patch_note_summarizer"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"9d435a7e-1141-48ff-ad18-ce9003c95523","name":"Tool","parameters":{"name":"Weaviate"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"23f27a06-bfff-4638-860e-9de0f7fef563","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"8de2d6aa-9202-4396-b07c-66eadaf57214","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"2b88cbe9-c0ce-4a18-b3fc-4732ae63317b","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"4297adae-ff27-4e7f-8acb-1db68dd6dd3d","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}