ingested/by-integration/webhook/quality_defect_classifier.7db4972a2e.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Quality Defect Classifier","nodes":[{"id":"4a9d63c7-08b0-4bd7-86c7-118becc5c9b2","name":"Sticky","parameters":{"content":"## Quality Defect Classifier","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"53bb395f-3072-435f-b051-f691b4954435","name":"Webhook","parameters":{"httpMethod":"POST","path":"quality_defect_classifier"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"91f92b79-07e8-41cf-9d1a-92115031674d","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"44867b78-b164-4010-8732-f6dc7d391d87","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"5b3fc67b-c039-4bc6-b2f0-4bd0c58602dc","name":"Insert","parameters":{"indexName":"quality_defect_classifier","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"e607b51e-a06b-4614-8714-0ba803cd2031","name":"Query","parameters":{"indexName":"quality_defect_classifier"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"id":"67f74799-bb90-492f-b04b-defa516e02cd","name":"Tool","parameters":{"name":"Redis"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"39f3db21-6d42-4cce-b2a4-203fbecbe5d8","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"18899540-a96f-4e03-a08e-ecd68c4215d4","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"f36eea46-81b9-402a-8936-e80d6638c7a2","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"8ca4e3aa-29a6-4a1e-89d4-d627007a3a85","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}