ingested/by-integration/webhook/woo_order_mailchimp.56a87ea1b3.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Woo Order Mailchimp","nodes":[{"id":"0dd507e4-f32b-4c4c-85d9-26316c63c0e0","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Woo Order Mailchimp","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"42aa0b71-1c9f-48d7-b339-94919de26da1","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"woo-order-mailchimp"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"38bd53d5-c599-45cb-bd28-f52fe513a687","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"fbb0666b-b845-4490-ad86-25713c97a122","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"d85253d5-b3b8-452b-8153-996f7b6c9bca","name":"Weaviate Insert","parameters":{"indexName":"woo_order_mailchimp","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"6cefb367-4cde-4c48-bdb8-c90ecc5215fc","name":"Weaviate Query","parameters":{"indexName":"woo_order_mailchimp"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"356012ed-5c87-4b07-8ddb-e0afe3c3faec","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"12fd721e-e3f6-4f61-a709-2b4c9821e373","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"a16d1695-9c1a-40f7-86a9-99b081045a20","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"10ea4d67-7ee6-466f-b8c9-5847177d478a","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Woo Order Mailchimp"},"promptType":"define","text":"Process the following data for task 'Woo Order Mailchimp':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"fb5c5c60-aa5d-40fb-aeed-e6a47f4bc030","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Woo Order Mailchimp","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"d54c4d1f-2ce2-431d-8a37-2f2e6d23f6da","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Woo Order Mailchimp error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}