ingested/by-integration/webhook/youtube_comment_summarizer.449d06b93f.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"YouTube Comment Summarizer","nodes":[{"id":"2a67ad9a-dcc2-4ef0-abca-f3255d63c2d0","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for YouTube Comment Summarizer","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"2fde1554-d2d7-49c3-b337-405b6c3136c9","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"youtube-comment-summarizer"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"82191399-1a68-400c-9bea-0c3a9aa2ac37","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"8a7643de-d014-4377-9055-79ee738b6231","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"841e4571-f1c6-49e0-8520-5d4a244b057f","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"youtube_comment_summarizer","mode":"list","value":"youtube_comment_summarizer"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"d85e823f-715b-489b-9628-61ce63cb33fe","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"youtube_comment_summarizer","mode":"list","value":"youtube_comment_summarizer"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"0737745f-be5b-4e98-b85b-45a3412f09e9","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"b8a28d57-b2d0-4ccd-8748-d484099c2bd5","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"93fe9b1d-0b94-4f3a-a864-fda08cd201ce","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"a3218023-dcc5-4302-9506-a498a28823b4","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for YouTube Comment Summarizer"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"1d624247-2c74-46c5-89e4-624b0c62bb87","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"YouTube Comment Summarizer","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"361ae790-4e53-4a0c-8684-5a448b2ae5e9","name":"Slack Alert","parameters":{"channel":"#alerts","text":"YouTube Comment Summarizer error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}