ingested/by-integration/webhook/youtube_transcript_to_blog.c1d7412675.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"YouTube Transcript to Blog","nodes":[{"id":"bd0e0586-b4e8-4da9-8d93-57602a5219de","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: YouTube Transcript to Blog","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"fe1b58d8-2bdc-4ce8-bcf8-95c9b0b6477d","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"youtube-transcript-to-blog"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"ceba2716-6fe1-48de-9bad-512e27bac9c1","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"20c8a22e-bf48-44b4-ac45-74b80231e773","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"d5bd2477-053c-4954-b46a-607df0a23935","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"youtube_transcript_to_blog","mode":"list","value":"youtube_transcript_to_blog"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"d5b8f51f-8904-4039-ab7f-d4cffd717b14","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"youtube_transcript_to_blog","mode":"list","value":"youtube_transcript_to_blog"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"42485b1f-2381-4e86-91af-ddbb3b687689","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"5fccb006-c66d-407a-b010-a9f7ca49c0d7","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"1454b8d0-0703-45e1-b51c-2f9396b4e4d1","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"a8c23beb-eeb0-45bb-bee8-7d841bf39330","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for YouTube Transcript to Blog"},"promptType":"define","text":"Process the following data for task 'YouTube Transcript to Blog':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"333c30d3-f292-497e-af3d-fffa5575fd75","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"YouTube Transcript to Blog","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"f84bd864-69d2-4c78-a3df-e0d4bdaf36c0","name":"Slack Alert","parameters":{"channel":"#alerts","text":"YouTube Transcript to Blog error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}