ingested/by-integration/slack/csv_attachment_to_airtable.8580eef88f.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"CSV Attachment to Airtable","nodes":[{"id":"8301780b-c5bd-48b4-9288-f69b1c8ba012","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: CSV Attachment to Airtable","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"f2045b0e-4bf6-4788-afac-442f93a9974d","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"csv-attachment-to-airtable"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"14d8c6a2-cd6e-4a57-af38-3f2a56aec148","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"5ece73c9-1c2c-40b7-a5c3-faebc32150a5","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"84e50d79-ac2c-45a3-84d6-4996378952bc","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"csv_attachment_to_airtable","mode":"list","value":"csv_attachment_to_airtable"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"af1a60d0-bf2b-4cd8-bd36-77eb41d439e4","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"csv_attachment_to_airtable","mode":"list","value":"csv_attachment_to_airtable"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"ac062bd5-d5ea-45c8-81e3-f2c25a84691c","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"717a5d25-6283-498d-a866-d827a1b31e5b","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"5f81d9fb-3d8c-4824-9ad8-a7a48a251232","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"9597ffe2-20a8-49df-98bf-bc722d5af74f","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for CSV Attachment to Airtable"},"promptType":"define","text":"Process the following data for task 'CSV Attachment to Airtable':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"77736a14-1aff-4736-8345-270bfbc5d262","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"CSV Attachment to Airtable","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"c80995ec-dba6-4418-b275-8b8ccf01112d","name":"Slack Alert","parameters":{"channel":"#alerts","text":"CSV Attachment to Airtable error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}