ingested/by-integration/slack/daily_email_digest.b466287c0e.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Daily Email Digest","nodes":[{"id":"47d7b2cb-5d44-4625-aeab-33e0b7ce529f","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for Daily Email Digest","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"a079decc-ca6c-4248-b4c9-34deb17c8d26","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"daily-email-digest"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"8d196219-7de5-428e-8e88-420abfcc9237","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"8c20a8a3-3002-4d4f-b46f-cf859d229655","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"ae6e7c84-9dbb-4ec7-a621-1a1e438941b6","name":"Supabase Insert","parameters":{"indexName":"daily_email_digest","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"f3ba587a-bd11-418d-9998-395164701bd3","name":"Supabase Query","parameters":{"indexName":"daily_email_digest"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"eed3ad49-c219-4c4a-b420-eff8b6401981","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"6622f4cb-bdbe-4c76-9ea0-25cf1e2ce2a4","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"edd62db3-4bfd-4ab4-b4e5-0e038b0beec1","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"0e624e84-3f49-49d4-b0eb-a3268f6984d0","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Daily Email Digest"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"dbec21d4-50e8-47a6-a920-6da576ebc01d","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"Daily Email Digest","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"487c7190-b1d5-4770-b503-ec7ce44ad9ba","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Daily Email Digest error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}