ingested/by-integration/slack/disaster_api_sms.a6c32aac36.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Disaster API SMS","nodes":[{"id":"69257a08-9220-4154-99e2-37bb863ffbf1","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Disaster API SMS","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"2d2f47ff-0270-49e9-8eae-b2953001fea5","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"disaster-api-sms"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"d9372145-e221-48ad-8307-074fb66158c9","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"8af454d1-43d4-4d9b-87b6-8b27ae50fbbe","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"e6468b01-b39b-415b-af3c-739622e715c8","name":"Supabase Insert","parameters":{"indexName":"disaster_api_sms","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"d25b5499-42aa-4b97-9051-e11762523d98","name":"Supabase Query","parameters":{"indexName":"disaster_api_sms"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"8c4ffec5-8b34-4d3d-a598-9244e3ef5aaf","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"e0077d9b-ebae-4102-b038-beadcdf71f0b","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"1cde59f5-0cfe-40d6-8652-360c1e2606ca","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"de908410-ed39-485d-b33b-c98ebc6edbd6","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Disaster API SMS"},"promptType":"define","text":"Process the following data for task 'Disaster API SMS':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"01254f9e-0418-488f-ae6c-8d159c76f4f9","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Disaster API SMS","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"d2328665-5b92-4bfd-b840-7bddb01c99f3","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Disaster API SMS error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}