ingested/by-integration/slack/fitness_api_weekly_report.52ae4fd3b5.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Fitness API Weekly Report","nodes":[{"id":"fb5b6cc9-a3ca-4c2c-bd10-1545178cd1ed","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Fitness API Weekly Report","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"344206c2-8c8c-4fbb-858a-c0e8eedc2ce0","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"fitness-api-weekly-report"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"2e12fc58-d1e8-4878-82bc-e22fee023178","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"35886feb-ae64-4aa0-a2e8-547e50be4aa6","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"92ee7d9d-e7c4-4e59-b838-31c9c9a8bd14","name":"Supabase Insert","parameters":{"indexName":"fitness_api_weekly_report","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"5b028e05-8481-4805-b63e-725f96511836","name":"Supabase Query","parameters":{"indexName":"fitness_api_weekly_report"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"83a18d4e-1ca4-4d27-b86e-74e2cbfdb959","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"164d5925-32e6-4c0d-82c2-aa41700bef8d","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"da0b3613-27f6-475a-a68b-c2af2c462ac3","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"e037ce6e-8a01-4a60-8560-83151db3c6f0","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Fitness API Weekly Report"},"promptType":"define","text":"Process the following data for task 'Fitness API Weekly Report':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"7f166559-0c74-4fa3-9958-bc492bb87d08","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Fitness API Weekly Report","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"bfd4a5fa-28b7-4f39-923a-064ca8d964cf","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Fitness API Weekly Report error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}