ingested/by-integration/slack/keyword_rank_checker.53a08ace36.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Keyword Rank Checker","nodes":[{"id":"d00aa5cd-2981-4071-84fc-e3de476eb2b2","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Keyword Rank Checker","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"972f3da6-471e-44eb-a9f5-0466549f6b15","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"keyword-rank-checker"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"f791b601-16df-43af-9143-de71bb580fc3","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"f86574e7-b2df-4d40-8584-22358a65ac1b","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"4b633ac2-3e70-4ff3-abc1-98be488a7947","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"keyword_rank_checker","mode":"list","value":"keyword_rank_checker"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"870105c9-1129-4898-a4bb-3324bd44925e","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"keyword_rank_checker","mode":"list","value":"keyword_rank_checker"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"01144960-9194-4d3b-838a-7e173be01ab1","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"7dfa5c62-a11b-45fc-8bce-65501cd3e82e","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"97a934f6-419d-4215-b387-177c5bccfd38","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"1795a245-6b80-4c82-95b3-06c0401489e1","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Keyword Rank Checker"},"promptType":"define","text":"Process the following data for task 'Keyword Rank Checker':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"c8c6865f-915d-4009-8d0a-0905cc78cb55","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Keyword Rank Checker","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"01d3638c-42b4-4973-aef8-73590c69fa0e","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Keyword Rank Checker error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}