ingested/by-integration/slack/ocr_receipts_to_notion.4648402527.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"OCR Receipts to Notion","nodes":[{"id":"c04dfa5c-bb11-4b59-afff-6186fc96a740","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for OCR Receipts to Notion","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"59a9fd15-53ab-4c11-ac79-d2a41441cf2f","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"ocr-receipts-to-notion"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"17092410-c43e-411d-9c9f-26e049276ae0","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"60598051-e62a-4be1-8868-f5c19ea8978e","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"4645c3ee-90cb-4320-86f3-d7c3f712a036","name":"Supabase Insert","parameters":{"indexName":"ocr_receipts_to_notion","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"6387ad1d-32fb-4575-9dfc-dfc90d2cb25c","name":"Supabase Query","parameters":{"indexName":"ocr_receipts_to_notion"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"fef3c58b-321a-44d2-a9ba-86a7bc58acf7","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"7bdab29d-ad62-4e40-87e7-fd13cd2cec3e","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"30f1d449-b35d-45a9-80c2-ba136b48a93e","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"d5adb725-61aa-4ecd-83ed-ada1ab0f9669","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for OCR Receipts to Notion"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"696adffa-2c85-461d-876a-dd880b9b38e3","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"OCR Receipts to Notion","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"efc8ed2e-3e85-4bf4-b1e8-cab2a3e2135f","name":"Slack Alert","parameters":{"channel":"#alerts","text":"OCR Receipts to Notion error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}