ingested/by-integration/slack/summarize_customer_emails.74dc10af94.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Weaviate Insert","type":"ai_embedding"},{"index":0,"node":"Weaviate Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Weaviate Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Weaviate Insert":{"ai_document":[[]]},"Weaviate Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Summarize Customer Emails","nodes":[{"id":"94ad1eec-70e2-4db2-b80b-385e07a22f66","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for Summarize Customer Emails","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"be284d5c-5194-4e36-8b98-92f89a0b69e7","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"summarize-customer-emails"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"e74ee421-b363-4e81-9878-d358db8b7f91","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"c6fa5ebc-8de0-422e-af77-32f485e41649","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"316539a7-288b-492f-8f01-e326e9aa6ac5","name":"Weaviate Insert","parameters":{"indexName":"summarize_customer_emails","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"f9073360-07bb-4a7e-924e-6f4fcec030d7","name":"Weaviate Query","parameters":{"indexName":"summarize_customer_emails"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"45a669cd-6731-4c59-b3be-8e53b00d85a7","name":"Vector Tool","parameters":{"description":"Vector context","name":"Weaviate"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"643506d8-f0d8-4565-b90f-26fb9de64cfe","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"34a740ac-8797-43e1-952a-cf5548b7baf8","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"383e0a40-ddb2-4cf0-9ecb-01fa21c82ae3","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Summarize Customer Emails"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"0c486ca7-802a-4769-9164-8206e2029d1d","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"Summarize Customer Emails","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"9dc4dcc0-580e-44b3-ac10-f97b173ae1c0","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Summarize Customer Emails error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}