ingested/by-source/wassupjay-n8n-free-templates/auto-reply_to_tiktok_comments.3eed1fc0ca.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Auto-reply to TikTok Comments","nodes":[{"id":"62a5ff73-812f-4bd3-b69e-19ccb837438b","name":"Sticky Note","parameters":{"color":5,"content":"Placeholder for Auto-reply to TikTok Comments","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"e2d9a151-59e3-42d2-8108-bfb2b4f530f4","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"auto-reply-to-tiktok-comments"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"57baa51e-87e0-4b4f-90b3-44b5282b3d95","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"4c1d12a0-1780-4d26-b17f-59215022b555","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"be23eb72-bca1-4e6f-8b8f-00b3c76fef40","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"auto-reply_to_tiktok_comments","mode":"list","value":"auto-reply_to_tiktok_comments"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"62d1d625-cf70-410e-84d2-eaad7477a7ba","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"auto-reply_to_tiktok_comments","mode":"list","value":"auto-reply_to_tiktok_comments"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"197c6860-6a3f-4498-a4ce-e67f77133f0c","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"585b2926-3905-4872-ba01-89e6f5a62fee","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"be683af2-ee65-436a-8233-5553ccc362c4","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"b2359ea4-9d21-42f9-854b-42bdf4fcc565","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Auto-reply to TikTok Comments"},"promptType":"define","text":"Handle data"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"416996cb-2ac9-4074-b6ca-3b259a8a04d7","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":"Status"},"documentId":{"__rl":true,"cachedResultName":"Auto-reply to TikTok Comments","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"553f06df-c97e-4775-b96a-52ad4c16a41b","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Auto-reply to TikTok Comments error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}