ingested/by-source/wassupjay-n8n-free-templates/customer_auto-tagging.e578cb97a1.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Customer Auto-tagging","nodes":[{"id":"9f1c238b-8782-4c9d-8f31-70ea9793ffa1","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Customer Auto-tagging","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"85f21561-f8cf-4292-96c6-5b73484e95bd","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"customer-auto-tagging"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"2c222980-aa73-4e0b-9a39-b9b15835cfcb","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"040314a3-fbfa-453d-9162-c149ea7ebd25","name":"Embeddings","parameters":{"model":"embed-english-v3.0","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"cc35e2b3-4495-4dcc-ae87-35e39a99fbdf","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"customer_auto-tagging","mode":"list","value":"customer_auto-tagging"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"95966bc7-b3d8-4f9c-9af2-baf9ccfd4254","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"customer_auto-tagging","mode":"list","value":"customer_auto-tagging"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"fbff62ae-f2ff-441d-927f-5b35a26b4e3f","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"1ccb9845-18a2-43a9-be19-520384e40b13","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"c4667e9a-c357-4d63-94a5-aee983169921","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"9d38d1cc-9ae6-459d-ab4a-63e57afac794","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Customer Auto-tagging"},"promptType":"define","text":"Process the following data for task 'Customer Auto-tagging':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"86e15f12-c9a3-4177-bb69-9dfb9d81c651","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Customer Auto-tagging","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"95afe2a2-f3f2-4879-b4f1-533c35e6ac0d","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Customer Auto-tagging error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}