ingested/by-source/wassupjay-n8n-free-templates/dealer_lead_qualifier.1865ada180.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Dealer Lead Qualifier","nodes":[{"id":"10cea33a-c000-4e24-9f0d-2171b4677fc1","name":"Sticky","parameters":{"content":"## Dealer Lead Qualifier","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"6efd10a1-1894-49b8-86db-299fc884d2b0","name":"Webhook","parameters":{"httpMethod":"POST","path":"dealer_lead_qualifier"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"c3617701-6658-4f40-8050-b84d2f4b92a6","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"294923f9-1194-4e09-929f-0f65cfc40184","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"0e73daad-2242-453e-af1c-bd6d96acacd5","name":"Insert","parameters":{"indexName":"dealer_lead_qualifier","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"0c18eeed-c8c9-4771-8495-1ad3c1724145","name":"Query","parameters":{"indexName":"dealer_lead_qualifier"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"513fa07f-a331-473a-82d1-a5be5d7deedb","name":"Tool","parameters":{"name":"Pinecone"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"caa6f351-58ce-405d-98d8-24a036970942","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"fca8e004-a059-4362-bad5-1497d584cd69","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"47f4542b-b789-4c81-99b2-3b44d5e19ba5","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"6879e7bb-3330-4068-b9a3-a568447e9a22","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}