ingested/by-source/wassupjay-n8n-free-templates/discord_guild_welcome_bot.a3eee7f279.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Discord Guild Welcome Bot","nodes":[{"id":"ec3eca3b-c927-44af-b076-ae454a5f9dba","name":"Sticky","parameters":{"content":"## Discord Guild Welcome Bot","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"75348d7e-59f5-42ae-aec5-5a993247cce9","name":"Webhook","parameters":{"httpMethod":"POST","path":"discord_guild_welcome_bot"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"8f3d6c06-6b07-4e1f-b6c1-881c2201c307","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"9b97ff7a-ad0c-4783-a805-5306ac065a18","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"90aebcf2-d80e-4dda-8ff1-c9cb21daef88","name":"Insert","parameters":{"indexName":"discord_guild_welcome_bot","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"credentials":{"weaviateApi":{"id":"WEAVIATE_API","name":"Weaviate account"}},"id":"98d03e4f-c7a7-4fbc-a740-f0f96511ad26","name":"Query","parameters":{"indexName":"discord_guild_welcome_bot"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreWeaviate","typeVersion":1},{"id":"98d3ad26-70f6-4ba9-bbd6-ec4c429fdbac","name":"Tool","parameters":{"name":"Weaviate"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"07ee96a3-d9fc-4a9a-84b5-967dd9dce86b","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"63bd3f99-bedd-4c2a-a372-e3a3dfdf13f7","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"2182a66a-8f6b-4ab5-a204-b1d2a193b540","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"bdc65bf0-04e8-454f-af89-365318979a0b","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}