ingested/by-source/wassupjay-n8n-free-templates/etsy_review_to_slack.c03bf0a97c.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Supabase Insert","type":"ai_embedding"},{"index":0,"node":"Supabase Query","type":"ai_embedding"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Supabase Insert":{"ai_document":[[]]},"Supabase Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Supabase Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Etsy Review to Slack","nodes":[{"id":"9ada3f67-3926-4995-8f82-0f8265c7da57","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Etsy Review to Slack","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"51db7f77-5b42-4259-bb85-216d79fcbc01","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"etsy-review-to-slack"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"9e891d18-bca7-4422-807c-141de650b33d","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"fbb181b3-49c1-4ace-a94e-a76e5ad7edcf","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"0ebef6a8-753a-470e-a984-5a10932fe1b8","name":"Supabase Insert","parameters":{"indexName":"etsy_review_to_slack","mode":"insert","options":{}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"e79e1d34-4dd4-42d0-b35d-bd520abd2103","name":"Supabase Query","parameters":{"indexName":"etsy_review_to_slack"},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"41b356e4-b29e-4b80-950d-53fbb1035a35","name":"Vector Tool","parameters":{"description":"Vector context","name":"Supabase"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"3e5896c8-c0ae-435a-93ee-048a3cd5f8ef","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"da4d79ca-74f7-4d86-96f4-14f4ecd88a16","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1},{"id":"218c49e7-8815-4df7-8544-36f413a1eb98","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Etsy Review to Slack"},"promptType":"define","text":"Process the following data for task 'Etsy Review to Slack':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"2c838709-3373-44d0-bf31-87d60a1c351b","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Etsy Review to Slack","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"68cee1a3-f365-4358-a9b3-e374260270be","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Etsy Review to Slack error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}