ingested/by-source/wassupjay-n8n-free-templates/gdpr_violation_alert.f49fc370e8.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"GDPR Violation Alert","nodes":[{"id":"13db2523-d8a9-418a-8fb6-39eb8f9a938c","name":"Sticky","parameters":{"content":"## GDPR Violation Alert","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"700b2651-7de4-44d3-8edd-1ba1715d75d0","name":"Webhook","parameters":{"httpMethod":"POST","path":"gdpr_violation_alert"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"162820ba-9f6b-44fd-b643-702de3b24640","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"01048ba2-ede5-441f-8a1a-5ab9b671c55f","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"f2328451-15d8-4966-8e9f-e24b3c94281f","name":"Insert","parameters":{"indexName":"gdpr_violation_alert","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"credentials":{"supabaseApi":{"id":"SUPABASE_API","name":"Supabase account"}},"id":"09b39daa-8057-4fc5-8b76-217e606d2821","name":"Query","parameters":{"indexName":"gdpr_violation_alert"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1},{"id":"6cf4aad3-8e0c-4198-8770-94ac862b4a63","name":"Tool","parameters":{"name":"Supabase"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"c27394be-9f34-4a0d-84c0-e1b1b3391dfe","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"53ea4a74-a3ad-422a-9e1b-8318187645b4","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"3e48de94-a0c7-46e0-834c-d4b1db1bbb10","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"2b80ceef-994a-48fc-af35-9cf75d38d5d1","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}