ingested/by-source/wassupjay-n8n-free-templates/low_stock_discord.038cd28a2b.json
{"connections":{"Chat Model":{"ai_languageModel":[[{"index":0,"node":"RAG Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Pinecone Insert","type":"ai_embedding"},{"index":0,"node":"Pinecone Query","type":"ai_embedding"}]]},"Pinecone Insert":{"ai_document":[[]]},"Pinecone Query":{"ai_vectorStore":[[{"index":0,"node":"Vector Tool","type":"ai_vectorStore"}]]},"RAG Agent":{"main":[[{"index":0,"node":"Append Sheet","type":"main"}]],"onError":[[{"index":0,"node":"Slack Alert","type":"main"}]]},"Text Splitter":{"ai_textSplitter":[[{"index":0,"node":"Pinecone Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Vector Tool":{"ai_tool":[[{"index":0,"node":"RAG Agent","type":"ai_tool"}]]},"Webhook Trigger":{"main":[[{"index":0,"node":"Text Splitter","type":"main"},{"index":0,"node":"Window Memory","type":"main"}]]},"Window Memory":{"ai_memory":[[{"index":0,"node":"RAG Agent","type":"ai_memory"}]]}},"name":"Low Stock Discord","nodes":[{"id":"b8ef13db-322d-4720-aaf3-7721bd8e6e80","name":"Sticky Note","parameters":{"color":5,"content":"Automated workflow: Low Stock Discord","height":530,"width":1100},"position":[-480,-240],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"f991c8e6-2992-48db-81d5-a42231e624c4","name":"Webhook Trigger","parameters":{"httpMethod":"POST","path":"low-stock-discord"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"9cd9834a-143e-41da-b019-cc49c5989d93","name":"Text Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-130,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"0966b81f-85e9-4607-859d-62634d769406","name":"Embeddings","parameters":{"model":"text-embedding-3-small","options":{}},"position":[70,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"8614a99c-b543-4390-ba45-2a96ca1e63c3","name":"Pinecone Insert","parameters":{"mode":"insert","options":{},"pineconeIndex":{"__rl":true,"cachedResultName":"low_stock_discord","mode":"list","value":"low_stock_discord"}},"position":[270,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"53da28ef-3686-439d-938e-39d996c9ba6c","name":"Pinecone Query","parameters":{"pineconeIndex":{"__rl":true,"cachedResultName":"low_stock_discord","mode":"list","value":"low_stock_discord"}},"position":[270,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"56126f8f-464f-4a1c-aed0-6b1e8769d079","name":"Vector Tool","parameters":{"description":"Vector context","name":"Pinecone"},"position":[450,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"b74a3d7a-f381-4097-8f4e-f5c8747191f1","name":"Window Memory","parameters":{},"position":[450,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"anthropicApi":{"id":"ANTHROPIC_API","name":"Anthropic"}},"id":"9cb002e3-f7e7-4a40-a949-6e0c3ce85038","name":"Chat Model","parameters":{"options":{}},"position":[450,-340],"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1},{"id":"b4a5efd2-c5c3-4bc2-a91c-45398ee7fc6c","name":"RAG Agent","parameters":{"options":{"systemMessage":"You are an assistant for Low Stock Discord"},"promptType":"define","text":"Process the following data for task 'Low Stock Discord':\n\n{{ $json }}"},"position":[720,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Google Sheets account"}},"id":"2fb9d0e8-6181-40b5-a98b-d4089226c5c7","name":"Append Sheet","parameters":{"columns":{"mappingMode":"defineBelow","schema":[],"value":{"Status":"={{$json[\"RAG Agent\"].text}}"}},"documentId":{"__rl":true,"cachedResultName":"Low Stock Discord","mode":"list","value":"SHEET_ID"},"operation":"append","sheetName":{"__rl":true,"cachedResultName":"Log","mode":"list","value":"Log"}},"position":[930,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4},{"credentials":{"slackApi":{"id":"SLACK_API","name":"Slack"}},"id":"9430d717-9c59-41ef-81d1-d148720f9fd0","name":"Slack Alert","parameters":{"channel":"#alerts","text":"Low Stock Discord error: {$json.error.message}"},"position":[930,120],"type":"n8n-nodes-base.slack","typeVersion":1}],"settings":{"executionOrder":"v1"},"triggerCount":1}