ingested/by-source/wassupjay-n8n-free-templates/safety_incident_alert.fd7fb2d5c8.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Safety Incident Alert","nodes":[{"id":"acd052ce-d3a1-4e61-baa3-45cd6f793aee","name":"Sticky","parameters":{"content":"## Safety Incident Alert","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"1deea699-1774-435a-90f6-69f08d5a6931","name":"Webhook","parameters":{"httpMethod":"POST","path":"safety_incident_alert"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"422f3b21-a6a6-4f42-99a4-639edfeb9b5e","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"20df8766-9812-46f6-a460-6dc78be50f81","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsHuggingFace","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"45b8c485-9062-44d5-8580-2f7873405375","name":"Insert","parameters":{"indexName":"safety_incident_alert","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"52766966-69f4-4e89-ac3a-2eb770a04adf","name":"Query","parameters":{"indexName":"safety_incident_alert"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"id":"4edf8626-ea38-48b1-ab95-ecabf977ce86","name":"Tool","parameters":{"name":"Redis"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"c04e95e7-b775-4be6-817f-c3c54bb7c0fd","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"8d56875b-ebe1-4d6e-bc84-d34ce77f5e06","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"39891a6f-af82-47f1-b8de-809e45a2e91c","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"41ecc052-0431-49a5-8508-826db972109c","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}