ingested/by-source/wassupjay-n8n-free-templates/tenant_screening_summary.2b3a5354ba.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Tenant Screening Summary","nodes":[{"id":"3b33eebf-9222-4bd3-b76f-184d65d84dab","name":"Sticky","parameters":{"content":"## Tenant Screening Summary","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"18fe7bca-e67c-47c4-b3ff-1026e4ea6dd2","name":"Webhook","parameters":{"httpMethod":"POST","path":"tenant_screening_summary"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"49839ad9-502f-469b-a079-ef2ca8f2f0dd","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"cohereApi":{"id":"COHERE_API","name":"Cohere"}},"id":"647d7561-8466-4208-8895-e9fcb704ac2a","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"e490ed00-02f9-425c-b529-3b5a3083255e","name":"Insert","parameters":{"indexName":"tenant_screening_summary","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"credentials":{"pineconeApi":{"id":"PINECONE_API","name":"Pinecone account"}},"id":"18a368e6-b6ba-459d-96ea-0155c46b2685","name":"Query","parameters":{"indexName":"tenant_screening_summary"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1},{"id":"a83bba45-b696-4930-a9a0-926690456afa","name":"Tool","parameters":{"name":"Pinecone"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"ee95789c-9e70-4905-883d-7cc66e61490b","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"e6431ed2-a268-483d-b15c-a3ab0a795fd1","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"8c55a527-e45c-4813-997b-ec051d3b9529","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"51d31d49-cc35-42ed-b760-e79e47b451e7","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}