ingested/by-source/wassupjay-n8n-free-templates/vehicle_telematics_analyzer.078f180ed8.json
{"connections":{"Agent":{"main":[[{"index":0,"node":"Sheet","type":"main"}]]},"Chat":{"ai_languageModel":[[{"index":0,"node":"Agent","type":"ai_languageModel"}]]},"Embeddings":{"ai_embedding":[[{"index":0,"node":"Insert","type":"ai_embedding"},{"index":0,"node":"Query","type":"ai_embedding"}]]},"Insert":{"ai_document":[[]]},"Memory":{"ai_memory":[[{"index":0,"node":"Agent","type":"ai_memory"}]]},"Query":{"ai_vectorStore":[[{"index":0,"node":"Tool","type":"ai_vectorStore"}]]},"Splitter":{"ai_textSplitter":[[{"index":0,"node":"Insert","type":"ai_textSplitter"}]],"main":[[{"index":0,"node":"Embeddings","type":"main"}]]},"Tool":{"ai_tool":[[{"index":0,"node":"Agent","type":"ai_tool"}]]},"Webhook":{"main":[[{"index":0,"node":"Splitter","type":"main"},{"index":0,"node":"Memory","type":"main"}]]}},"name":"Vehicle Telematics Analyzer","nodes":[{"id":"3a428bea-5b5d-418d-aea3-6702e195eaff","name":"Sticky","parameters":{"content":"## Vehicle Telematics Analyzer","height":520,"width":1100},"position":[-500,-250],"type":"n8n-nodes-base.stickyNote","typeVersion":1},{"id":"cc171ef1-366e-450c-b8c0-1f4be0cc100c","name":"Webhook","parameters":{"httpMethod":"POST","path":"vehicle_telematics_analyzer"},"position":[-300,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"236b9d8a-fd92-4525-b6e3-89eceaee9826","name":"Splitter","parameters":{"chunkOverlap":40,"chunkSize":400},"position":[-100,0],"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1},{"credentials":{"openAiApi":{"id":"OPENAI_API","name":"OpenAI"}},"id":"49a5217e-b9dd-4c9d-a05e-e117cbc2f4a3","name":"Embeddings","parameters":{"model":"default"},"position":[100,0],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"af19e123-7ee5-4628-88da-affa9ea417c9","name":"Insert","parameters":{"indexName":"vehicle_telematics_analyzer","mode":"insert"},"position":[300,0],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"credentials":{"redisApi":{"id":"REDIS_API","name":"Redis account"}},"id":"d8b469f0-7927-4406-a3d7-c2695db16244","name":"Query","parameters":{"indexName":"vehicle_telematics_analyzer"},"position":[300,-180],"type":"@n8n/n8n-nodes-langchain.vectorStoreRedis","typeVersion":1},{"id":"22c4c0d5-c147-4c3d-82db-7d48d8238bb1","name":"Tool","parameters":{"name":"Redis"},"position":[480,-180],"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1},{"id":"5cd9b107-b5dc-4429-8fed-ef0dbeecd22d","name":"Memory","parameters":{},"position":[480,-40],"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3},{"credentials":{"huggingFaceApi":{"id":"HF_API","name":"HuggingFace"}},"id":"17e82f20-81ce-4a16-826f-3021958e3c5b","name":"Chat","parameters":{},"position":[480,-340],"type":"@n8n/n8n-nodes-langchain.lmChatHf","typeVersion":1},{"id":"b2493e79-03b0-446b-a21d-f6e80acfe401","name":"Agent","parameters":{"promptType":"define","text":"={{ $json }}"},"position":[760,-40],"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1},{"credentials":{"googleSheetsOAuth2Api":{"id":"SHEETS_API","name":"Sheets"}},"id":"b0e6955f-7d88-44f3-adae-41b5920328f0","name":"Sheet","parameters":{"documentId":"SHEET_ID","operation":"append","sheetName":"Log"},"position":[960,-40],"type":"n8n-nodes-base.googleSheets","typeVersion":4}],"settings":{"executionOrder":"v1"}}